<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Register
      </div>
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)='onSubmit()'>
          <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName='userName'>
            <span class="input-error" *ngIf="!userName.valid && (userName.touched || userSubmitted)">
              <span *ngIf="userName.errors.required">please enter name </span>
              <span *ngIf="userName.errors.minlength">name must be at least 5 character</span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName='email'>
            <span class="input-error" *ngIf="!email.valid && (email.touched || userSubmitted) ">
              <span *ngIf="email.hasError('required')">
                please provide email id
              </span>
              <span *ngIf="email.hasError('email')">
                please provide valid email id
              </span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="passwrod" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName='password'>
            <span class="input-error" *ngIf="!password.valid && (password.touched || userSubmitted) ">
              <span *ngIf="password.errors['required']">please provide password </span>
              <span *ngIf="password.errors.minlength">password must be at least 8 character</span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" formControlName='confirmPassword'>
            <span class="input-error" *ngIf="!confirmPassword.valid && (confirmPassword.touched || userSubmitted) ">
              <span *ngIf="confirmPassword.errors.required">please confirm password </span>
            </span>
            <span class="input-error" *ngIf="registrationForm.hasError('notmatched') && confirmPassword.valid">
              password not matched
            </span>
          </div>

          <div class="form-group col-12">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="text" class="form-control" formControlName='mobile'>
            <span class="input-error" *ngIf="!mobile.valid && (mobile.touched || userSubmitted) ">
              <span *ngIf="mobile.errors['required']">please provide mobile number </span>
              <span *ngIf="mobile.errors.maxlength">mobile number should not be at more than 8 character</span>
            </span>
          </div>

          <div class="form-group col-12">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
